* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
}

main {
    padding: 2px 3%;
}
img{
    object-fit: cover;
}
.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.blue {
    color: #0065fc;
}

.white {
    color: #f2f2f2;
}

header {
    margin-bottom: 6px;
}

.w-logo {
    height: 53px;
    margin-top: 20px;
    margin-left: 50px;
}

.logo {
    width: 100%;
    height: 100%;
}

.desktop-nav{
    margin-right: 50px;
}

.titre {
    font-weight: 600;
    font-size: 29px;
    margin-bottom: 15px;
}

.sous-titre {
    font-weight: 700;
}

.noms {
    font-weight: 700;
}

.small {
    font-weight: 400;
}


.ancres {
    display: block;
    margin-top: 2px;
    padding: 40px 30px;
}

.ancres:hover {
    box-shadow: -3px 0px 0px white, 6px 0px 1px white, 0px -2px 1px #0065fc;
    color: #0065fc;
}

form {
    margin-top: 15px;
}

.search {
    border: solid 2px #f2f2f2;
    display: inline-flex;
    border-radius: 15px;
    height: 60px;
}

.map {
    width: 50px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 15px 0 0 15px;
    padding-top: 19px;
}

.btn-a {
    background-color: #0065fc;
    color: #f2f2f2;
    padding: 0 15px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.btn-a:hover {
    background-color: #DEEBFF;
    color: #0065fc;
}

.btn-b {
    display: none;
}

input {
    border: none;
    font-size: larger;
    font-weight: bolder;
}

.localisation {
    padding-left: 15px;
    font-size: 20px;
}

.w-filtres {
    display: flex;
    margin: 25px 0;
    font-weight: 700;
}

.filtre-title {
    padding-top: 13px;
    margin-right: 20px;
    font-size: 17px;
}

.w-filtres nav {
    width: 100%;
    max-width: 810px;
}

.w-categorie {
    width: 100%;
    justify-content: space-between;
}

.relative {
    position: relative;
}

.strong span {
    display: block;
    padding-top: 13px;
}

.f-icon {
    position: absolute;
    left: -0px;
    top: -1px;
    width: 52px;
    height: 52px;
    padding-top: 16px;
    text-align: center;
    background-color: #DEEBFF;
    border-radius: 50px;
}

.f-icon i {
    color: #0065fc;
}

.filtres-l {
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    display: block;
    height: 50px;
    padding: 12px 14px 0 58px;
}

.filtres-l:hover {
    background-color: #0065fc;
    color: #f2f2f2;
}

.info {
    text-align: center;
}

.info i {
    color: #0065fc;
    border: solid 2px #f2f2f2;
    padding: 3px 8px;
    border-radius: 50px;
}

.i-text {
    margin: 5px 0 0 15px;
    font-weight: 400;
}

.div-sections {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.section-1 {
    width: 62%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 3%;
}

.wrapper-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 15px 0;
}

.card-1 {
    width: 31%;
    min-width: 234px;
    margin-bottom: 40px;

}

.card-1 h4, .card-1 p,
.card-1 .w-stars {
    margin: 0 10px;
}

.link-card-1 {
    display: block;
    border-radius: 15px;
    padding: 2%;
    width: 100%;
    background-color: white;
    line-height: 25px;
    box-shadow: 4px 4px 8px #E5E5E5, -4px -4px 8px #E5E5E5;
}

.link-card-1:hover {
    background-color: #DEEBFF;
}

.img-card {
    width: 100%;
    height: 138px;
    display: block;
    margin-bottom: 10px;
}

.card-1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    display: block;
}

.affichez-plus {
    font-size: 22px;
}

.section-2 {
    width: 35%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 3%;
}

.w-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etoile{
    font-size: 20px;
}

.w-cards-2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 517px;
    margin: 15px 0;
}

.card-2 {
    width: 100%;
    margin: 16px 0;
}

.link-card-2 {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 4px 4px 8px #E5E5E5, -4px -4px 8px #E5E5E5;
}

.link-card-2:hover {
    background-color: #DEEBFF;
}

.w-card-2 {
    display: flex;
}

.box-card2 {
    width: 35%;
    border-radius: 15px 0 0 15px;
    height: 150px;
    display: block;
}

.link-card-2 img {
    width: 100%;
    border-radius: 15px 0 0 15px;
    height: 100%;
}

.info-2 {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 4% 5%;
    
}
.w-text-2 .noms{
    margin-bottom: 10px;
}

.w-stars ul {
    display: flex;
}

.activités {
    margin: 75px 0 31px 0;
}

.section-3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 500px;
}

.block-b {
    height: 100%;
    width: 23%;
}

.block-s {
    height: 45%;
    width: 23%;
}

.block-s h4{
    padding: 5%;
}

.block-b, .block-s{
    margin-right: 2.7%;
}

.block-b h4{
    padding: 5%;
}
.bigger{
    height: 55%;
}
.bigger h4{
    padding: 7% 0 0 5%;
}

.smaller{
    height: 35%;
}
.smaller h4{
    padding: 3%;
}

.section-3 a {
    display: block;
    border-radius: 25px;
    height: 100%;
    background-color: white;
    box-shadow: -4px -4px 8px #E5E5E5, 4px 4px 8px #E5E5E5;
}

.section-3 a:hover {
    background-color: #DEEBFF
}

.img-b {
    height: 90%;
    display: block;
}

.img-s {
    height: 75%;
    display: block;
}

.section-3 img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px 25px 0 0;
}

footer {
    display: table;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 70px;
    padding: 3%;
}

.footer-listes {
    display: table-cell;
    line-height: 30px;
}

.footer-listes strong {
    margin-bottom: 10px;
    display: block;
}


@media screen and (max-width:992px) {
    .desktop-nav{
        margin-right: 0;
    }
    .w-filtres {
        flex-flow: wrap;
        justify-content: space-around
    }

    .filtre-title {
        margin: 25px;
        font-size: 30px;
    }

    .filtres-l {
        margin-bottom: 15px;
    }

    .wrapper-cards {
        justify-content: space-evenly;
    }

    .div-sections {
        flex-flow: column;
    }

    .section-1,
    .section-2 {
        width: 100%;
        margin: 15px 0;
    }

    .card-1,
    .card-2 {
        width: 80%;
    }

    .card-2 {
        margin: auto;
    }

    .link-card-2 img {
        min-width: 100px;
    }

    .section-3 {
        text-align: center;
    }

}

@media screen and (max-width:768px) {
    header {
        flex-flow: column;
        text-align: center;
        padding: 0;
        margin-bottom: 30px;
    }

    main {
        padding: 0;
    }
    .desktop-nav{
        margin-right: 0;
    }
    .top-main-mobile {
        padding: 0 5%;
    }

    .logo-desc {
        display: none;
    }

    .logo {
        display: block;
    }

    .w-logo {
        width: 27%;
        height: 72px;
        margin: auto;
    }

    header nav {
        margin-top: 20px;
    }

    .ancres {
        width: 100%;
        padding: 15px 0px;
        box-shadow: -3px 0px 0px white, 6px 0px 1px white, 0px 3px 1px #E5E5E5;
    }

    .ancres:hover {
        box-shadow: -3px 0px 0px white, 6px 0px 1px white, 0px 3px 1px #0065fc;
    }

    .search {
        width: 100%;
    }

    .btn-a {
        display: none;
    }

    .map {
        padding: 20px;
    }

    .btn-b {
        display: block;
        background-color: #0065fc;
        width: 55px;
        border-radius: 15px;
        text-align: center;
    }

    .btn-b:hover {
        background-color: #2f81fc
    }

    .btn-b i {
        color: #f2f2f2;
        padding: 20px;
    }

    input {
        width: 100%;
    }

    .w-filtres {
        justify-content: flex-start;
    }

    .filtre-title {
        text-align: left;
        margin: 0 0 15px 0;
        font-size: 24px;
    }

    .w-categorie {
        flex-flow: wrap;
        justify-content: flex-start;
    }

    .filtres-l {
        margin-right: 10px;
    }

    .div-sections {
        flex-flow: column-reverse;
    }

    .section-1 {
        background-color: white;
    }

    .section-1,
    .section-2 {
        width: 100%;
        border-radius: 0px;
        margin: 0;
    }

    .section-1 h2,
    .section-2 h2 {
        margin-bottom: 15px;
    }

    .section-2 i {
        margin-bottom: 15px;
    }

    .card-1 {
        margin-bottom: 15px;
    }

    .card-1,
    .card-2 {
        width: 100%;
    }
 
    .link-card-1 img {
        width: 100%;
        height: 115px;
    }
    .section-3 {
        display: block;
        height: 100%;
        padding: 3%;
        text-align: start;
    }

    #activités {
        margin: 37px 0% 10px 3%;
    }

    .block-b,
    .block-s {
        width: 100%;
        height: 172px;
        margin-bottom: 25px;
    }

    .section-3 img,
    .section-3 .block-s img {
        height: 125px;
    }

    footer,
    .footer-listes {
        display: block;
    }

    .footer-listes {
        margin-bottom: 25px;
    }

    .footer-listes strong {
        margin-bottom: 5px;
    }

}